<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ReportsManager.Listeners"></listener>
	</listeners>	
	
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.registerTestCases"/>
     <!--  <class name="TestCases.loginTestCases"/> -->
   <!--   <class name="TestCases.addToCartTestCases"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->